@CHARSET "US-ASCII";
header{
	width: 100%;
	min-width: 1024px;
}

body{
	width: 100%;
	min-width: 1024px;
	margin: auto;
}

#headerbackground{
	width: 100%;
	min-width:1024px;
	height: 150px;
	position: fixed;
	background: lightgrey;
	z-index: 10;
	top: 0;
	box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.75);
}

#header{
	width: 1024px;
	min-width: 1024px;	
	margin: auto;
	z-index: 10;
	padding-left: 30px;
	padding-right: 30px;
}

#banner{
	width: 100%;
	min-width:1024px;
	height: 300px;
	position: fixed;
	background: white;
	top: 150px;
	text-align: center;
}

#contentbackground{
	width: 100%;
	min-width:1024px;
	position: relative;
	background: white;
	top: 450px;
}

#content{
	width: 1024px;
	min-width: 1024px;	
	position: relative;
	margin: auto;
	padding: 30px;
}

div#regularForm{
	float: left;
	background: white;
	width: 50%;
}

div#businessForm{
	float: right;
	background: white;
	width: 50%;
}

table{
	font-family:"Helvetica Neue", Arial, sans-serif;
    font-weight:100;
    -webkit-font-smoothing:antialiased;
    line-height: 150%;
}

p{
	font-family:"Helvetica Neue", Arial, sans-serif;
    font-weight:100;
    font-size: 18px;
    -webkit-font-smoothing:antialiased;
    line-height: 150%;
}

pnav{
	font-family:"Helvetica Neue", Arial, sans-serif;
    font-weight:100;
    -webkit-font-smoothing:antialiased;
    line-height: 200%;
}

psmall{
	font-family:"Helvetica Neue", Arial, sans-serif;
    font-weight:100;
    -webkit-font-smoothing:antialiased;
    font-size: 12px;
}

div#logo {
	float: left;
}

div#navmenu {
	float: right;
	text-align: right;
}

nav a {
	color: #fff;
    display: block;
    font-family:"Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
    color:#000000;
    padding: 25px;
    text-decoration: none;
}

li {
	font-family: Impact, Charcoal, sans-serif;
	width:100px;
  	display:block;
  	float: right;
  	text-align: left; 	
}

a:visited {
	display:block;
	font-weight:bold;
	color:#000000;
	text-align:center;
	padding:10px;
	text-decoration:none;
	text-transform:uppercase;
}

a:link{
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	text-transform:uppercase;
}

a:hover,a:active{
	color:gray;
}